/* Wrap code samples in reStructuredText tables. */
table.docutils code {
    word-break: break-word;
}

div.footer {
    width: auto;
}

div.footer>span+span::before {
    content: ' | ';
}

.image-reference img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
